#eval (dircolors -b)
alias color_grep='sed -e "s/^\([^:]*\):\([^:]*\):/`tput setaf 7`\1 `tput setaf 6`\2`tput sgr0` /"'
#alias grep='grep -n --color=always'
alias less='less -R'
alias ls='ls -Glah --color=auto'
alias more='more -R'
alias tree='tree -C -I "*.pyc"'
alias pb="curl -F 'sprunge=<-' http://sprunge.us"
alias gs="git lg | head -n 5 ; git status -sb"
alias p="ps auxfw"
