eval $(dircolors -b)
alias color_grep='sed -e "s/^\([^:]*\):\([^:]*\):/`tput setaf 7`\1 `tput setaf 6`\2`tput sgr0` /"'
#alias grep='grep -n --color=always'
alias ls='ls -Glah --color=auto'
#alias more='more -R'
alias tree='tree -C -I "*.pyc"'
alias pb="curl -F 'sprunge=<-' http://sprunge.us"
alias gs="git lg | head -n 5 ; git status -sb -uno"
#alias p="ps auxfww"
alias p="ps -AO user,ppid,pgid,sess,start --forest -w -w"
alias less="less -mmSRj.5"
alias view="view -S ~/.vim/view.rc -"

# https://github.com/sharkdp/bat/releases
alias bat="bat --color=always --wrap=never --decorations=always --style=full"

function ss_win () {
  name="$HOME/Pictures/screenshot-`name`.png"
  gnome-screenshot -w -b -d 1 --file $name
  echo $name
}

function ss_area () {
  name="$HOME/Pictures/screenshot-`name`.png"
  gnome-screenshot -a --file $name
  echo $name
}

