@import url('http://fonts.cdnfonts.com/css/monofur');

:root {
  /*--accent: red;*/
  --code: #333;
  --mono-font: Monofur;
}

body {
    font-size: 1rem;
}

pre {
    white-space: pre-wrap;
    padding: 0;
    overflow: inherit;
}

code {
    background: var(--accent-bg);
    /*border: 1px solid var(--border);*/
    /*border-radius: 5px;*/
}

details[open] summary {
    margin-bottom: 0;
}


ul {
    margin: 0;
    /*padding-inline-start: 40px;*/
    /*margin-block-end: 0;*/
    /*margin-block-start: 0;*/
    white-space: normal;
}
li {
    /*margin: 0;*/
}

p {
    margin-bottom: 0;
    margin-top: 0;
}

.task summary * {
    margin-left: 1.5rem;
}

.task summary span {
    font-weight: normal;
    float: right;
}

.task .body {
   white-space: pre-wrap;
   line-height: 1em;
}

.task:hover {
    background-color: #eee;
}

.task textarea {
    height: 20rem;
    padding: 0.5rem;
    border: none;
}
