[Unit]
Description=SSH Socks
After=network.target

[Service]
User=tom
Group=tom
ExecStart=/home/tom/knio/home/socks.py
Restart=always

[Install]
WantedBy=multi-user.target
